.card {
  background-image: url('../assets//images//intro\ atirgul.jpg');
  height: 220px;
  background-position: center; 
  background-repeat: repeat; 
  background-size: cover; 
}

.card1 {
  background-image: url('../assets//images//guldon1.jpg');
  height: 220px;
  background-position: center; 
  background-repeat: repeat; 
  background-size: cover;
}

.card2 {
  background-image: url('../assets//images//guldon2.jpg');
  height: 220px;
  background-position: center; 
  background-repeat: repeat; 
  background-size: cover;
}
